.btn {
	font-family: inherit;
	background-color: var(--primary-color-400);
	border: 1px solid rgba(27, 31, 35, 0.15);
	border-radius: 0.5rem;
	color: var(--neutral-color-100);
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	width: max-content;
	font-size: 0.875rem;
	font-weight: 600;
	padding: 0.5rem 1rem;
	text-align: center;
	text-decoration: none;
	transition: all 150ms ease-in-out;
}

.btn[data-variant='outline'] {
	background-color: var(--neutral-color-100);
	border: 1px solid var(--primary-color-400);
	color: var(--primary-color-400);
}

.btn[data-variant='secondary'] {
	--primary-hue: 251;
	background-color: var(--secondary-color-400);
	color: var(--neutral-color-100);
}

.btn[data-variant='ghost'] {
	background-color: var(--neutral-color-100);
	border: none;
	color: var(--primary-color-400);
}

.btn:is(:hover, :focus-visible) {
	background-color: var(--primary-color-500);
	color: var(--neutral-color-100);
}

.btn:focus-visible {
	outline: 2px solid var(--primary-color-500);
	outline-offset: 2px;
}

.btn[data-variant='secondary']:is(:hover, :focus-visible) {
	background-color: var(--secondary-color-500);
	color: var(--neutral-color-100);
}

.btn[data-variant='ghost']:is(:hover, :focus-visible) {
	background-color: transparent;
	outline: 1px solid var(--primary-color-500);
	color: var(--primary-color-500);
}

.btn[data-variant='secondary']:focus-visible {
	outline: 2px solid var(--secondary-color-500);
}

.btn:active {
	background-color: var(--primary-color-600);
}

.btn[data-variant='secondary']:active {
	background-color: var(--secondary-color-600);
}

.btn:disabled {
	background-color: var(--primary-color-100);
	pointer-events: none;
	user-select: none;
}

.btn[data-size='small'] {
	font-size: 0.75rem;
	padding: 0.25rem 0.75rem;
}

.btn[data-size='large'] {
	font-size: 1.5rem;
	padding: 0.5rem 1.25rem;
}

.btn[data-size='icon'] {
	font-size: 1rem;
	padding: 0.5rem 0.5rem;
}
